<div id="paypal-button"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var EXECUTE_PAYMENT_URL = '{{ initializationData.callbackUrl }}';
    var RETURN_PAYMENT_URL = '{{ initializationData.returnUrl }}';

    paypal.Button.render({

        env: '{{ initializationData.mode == 'live' ? 'production' : initializationData.mode }}',

        client: {
            sandbox:    '{{ initializationData.clientId }}',
            production: '{{ initializationData.clientId }}'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '{{ initializationData.transaction.amount / 100 }}', currency: '{{ initializationData.transaction.currencyCode }}' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID: data.payerID,
                transactionID: "{{ initializationData.transaction.id }}"
            }).then(function() {
                location.href = RETURN_PAYMENT_URL;
            });
        },

        onError: function (err) {
            console.error(err);
        }

    }, '#paypal-button');
</script>
