<div id="paypal-button"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var EXECUTE_PAYMENT_URL = '{{ url }}';

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        client: {
            sandbox:    '{{ clientId }}',
            production: 'xxxxxxxxx'
        },

        commit: true, // Show a 'Pay Now' button

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '{{ transaction.amount / 100 }}', currency: '{{ transaction.currencyCode }}' }
                        }
                    ]
                }
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID: data.payerID,
                transactionID: "{{ transaction.id }}"
            }).then(function() {
                // The payment is complete!
                // You can now show a confirmation message to the customer
            });
        }

    }, '#paypal-button');
</script>
