<form action="{{ url }}" method="POST">
    <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ publicKey }}"
        data-amount="{{ transaction.amount }}"
        data-name="Stripe.com"
        data-description="{% if transaction.description is not null %}{{ transaction.description }}{% else %}Example charge{% endif %}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true"
        data-currency="{{ transaction.currencyCode }}">
    </script>
</form>
